<launch>


 <include file="$(find robot_diagnostics)/launch/node_monitor.launch"/>
 <include file="$(find robot_diagnostics)/launch/topic_monitor.launch"/>
 <include file="$(find robot_diagnostics)/launch/system_monitor.launch"/>
 <include file="$(find robot_diagnostics)/launch/sensor_monitor.launch"/>

</launch>
